/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* all color  */
    --primary-color: #1A0B2E;
    --secondary-color: #230E3D;
    --secondary-color-lite: #351165;
    --tertiary-color: #00ff88;
    --heading-text-color: #ffffff;
    --body-text-color: rgba(255, 255, 255, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* shared style  */
.inter-font {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.btn-primary {
    background-image: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 30px;
    color: var(--body-text-color);
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background: none;
    color: var(--tertiary-color);
    outline: 1px solid var(--tertiary-color);
}

.section-heading {
    font-weight: bold;
    font-size: 3rem;
    color: var(--heading-text-color);
    text-transform: capitalize;
    text-align: center;
}

.sub-heading {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--heading-text-color);
}

.section-text {
    color: var(--body-text-color);
    line-height: 1.5rem;
}

/* header section style  */
#header {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.brand-name {
    font-weight: 900;
    font-size: 2rem;
    color: var(--heading-text-color);
}

.gradient-text {
    background-image: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.menu-item {
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: var(--body-text-color);
    font-weight: medium;
    font-size: 1rem;
    line-height: 120%;
    text-transform: capitalize;
}

.hamburger-icon {
    display: none;
}

/* hero section style  */
#hero {
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.hero-content {
    max-width: 545px;
    margin: 0px auto;
    text-align: center;
}

.hero-img {
    max-width: 350px;
    margin: 0 auto;
}

.hero-img-circle {
    position: relative;
}

.notification {
    background-color: var(--tertiary-color);
    padding: .5em 1em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 1;
    box-shadow: 0 0 20px 0 var(--tertiary-color);
    animation-name: notification;
    animation-duration: .1s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 20;
}

@keyframes notification {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-10deg);
    }

    100% {
        transform: rotateZ(0deg);
    }


}

.microphone-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-info {
    margin-top: 40px;
}

.main-heading {
    font-weight: 900;
    font-size: 3.75rem;
    color: var(--heading-text-color);
}

.hero-info p {
    margin: 10px 0 40px;
}

.hero-btn,
.spotify-btn,
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* about section style  */
#about {
    background-color: var(--primary-color);
    padding: 60px 0;
}

.about-info {
    text-align: center;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.about-text p {
    padding: 1rem 0;
}

.about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-top: 1px solid var(--secondary-color);
    padding: 60px 0;
}

.about-card h3 {
    font-size: 3rem;
    color: var(--tertiary-color);
}

.about-card h4 {
    font-weight: 400;
    line-height: 20px;
    color: var(--body-text-color);
}

/* why choose section  */
#why-choose {
    background-color: var(--secondary-color);
    padding: 120px 0;
}

.why-choose-grid {
    display: grid;
    grid-template-areas:
        "aq  mf  mf"
        "aq  gc  gc"
        "ei  ei  rr";
    gap: 30px;
    padding: 40px 0;
}

.why-choose-grid section {
    background-color: var(--secondary-color-lite);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.grid-icon {
    width: 60px;
}

.audio-quality {
    grid-area: aq;
}

.mobile-friendly {
    grid-area: mf;
}

.global-community {
    grid-area: gc;
}

.exclusive-interviews {
    grid-area: ei;
}

.rich-resources {
    grid-area: rr;
}

/* episodes section style  */
#episodes {
    background-color: var(--primary-color);
    padding: 120px 0;
}

.episodes-content h2 {
    margin-bottom: 30px;
}

.episodes-card-container {
    display: flex;
    gap: 30px;
}

.episodes-card {
    background-color: var(--secondary-color-lite);
    border-radius: 20px;
    /* max-width: 380px; */
}

.episodes-card-video {
    height: 215px;
}

iframe {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.episodes-card-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.duration {
    font-weight: 500;
    line-height: 24px;
    color: #00ff88;
}

/* meet the host section style  */
#meet-host {
    background-color: var(--primary-color);
    padding-bottom: 120px;
}

.host-info {
    /* display: grid;
    grid-template-columns: 17% auto;
    column-gap: 25px;
    align-items: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    margin-top: 40px;
    padding: 40px;
    border-radius: 40px;
}

.host-img {
    width: 17%;
}

.host-data {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.host-data h3 {
    font-size: 2rem;
}

.social-icon-container {
    display: flex;
    gap: 10px;
}

.social-icon {
    max-height: 40px;
    max-width: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
}

.social-icon img {
    padding: 10px;
}

/* footer section style  */
#footer {
    background-image: url(./images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.footer-logo {
    width: 35%;
    margin: 0 auto;
}

.company-logo {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.logo-with-name {
    display: flex;
    gap: 5px;
    color: var(--body-text-color);
}

/* mobile responsive */
@media screen and (max-width: 576px) {

    .container {
        padding: 0 5%;
    }

    .section-heading {
        font-size: 2rem;
    }

    .nav {
        padding: 18px 5%;
    }

    .nav-menu,
    .nav-btn {
        display: none;
    }

    .hamburger-icon {
        display: block;
        color: var(--body-text-color);
        font-size: 1.5rem;
    }

    /* hero section  */
    #hero {
        padding: 40px 5%;
    }

    .hero-img {
        max-width: 200px;
    }

    .microphone-img {
        max-width: 50px;
    }

    .main-heading {
        font-size: 2.5rem;

    }

    .hero-info {
        margin-top: 24px;
    }

    .hero-info p {
        margin: 10px 0 20px;
    }

    /* about section  */
    #about {
        padding: 40px 0;
    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 0 0;
        gap: 40px;
    }

    .about-card h3 {
        font-size: 2.5rem;
    }

    /* why choose section  */
    #why-choose {
        padding: 40px 0;
    }

    .why-choose-grid {
        display: grid;
        grid-template-areas:
            'aq'
            'mf'
            'gc'
            'ei'
            'rr';
        gap: 16px;
        padding-top: 16px;
    }

    /* episodes section  */
    #episodes {
        padding: 40px 0;
    }

    .episodes-card-container {
        flex-direction: column;
        align-items: center;
        max-width: calc(576px - 10%);
    }

    #meet-host {
        padding-bottom: 40px;
    }

    .host-info {
        flex-direction: column;
    }

    .host-img {
        width: 150px;
    }

    .host-data {
        width: 100%;
        text-align: center;
    }

    .social-icon-container {
        justify-content: center;
    }

    /* footer section  */
    #footer {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .company-logo {
        gap: 16px;
        flex-wrap: wrap;
        max-width: 255px;
    }
}