/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* shared style  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.gradient-text {
    background-image: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.btn-primary {
    background-image: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 16px;
}

/* header section style  */
#header {
    background-color: #412567;
    border-bottom: 1px solid #FB09B4;
}

.nav {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.brand-name {
    font-weight: 900;
    font-size: 2rem;
    color: white;
}



.nav-menu {
    gap: 32px;
}

.menu-item {
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    text-transform: capitalize;
}