/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* shared style  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.gradient-text {
    background-image: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.btn-primary {
    background-image: linear-gradient(15deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 16px;
}

.btn-primary:hover {
    background: none;
    color: green;
    outline: 1px solid green;
}

/* header section style  */
#header {
    background-color: #1A0B2E;
    border-bottom: 1px solid #351165;
}

.nav {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.brand-name {
    font-weight: 900;
    font-size: 2rem;
    color: white;
}



.nav-menu {
    gap: 32px;
}

.menu-item {
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    text-transform: capitalize;
}

/* hero section style  */
#hero {
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    max-width: 525px;
    margin: 0px auto;
    padding: 100px 0;
    text-align: center;
}

.hero-img {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.hero-img-circle {
    position: relative;
}

.notification {
    background-color: #00ff88;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;
    box-shadow: 0 0 20px 0 #00ff8864;
    animation-name: notification;
    animation-duration: .1s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 20;
}

@keyframes notification {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-10deg);
    }

    100% {
        transform: rotateZ(0deg);
    }


}

.microphone-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-info {
    margin-top: 40px;
}

.main-heading {
    font-weight: 900;
    font-size: 3.75rem;
    color: white;
}

.hero-info p {
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0 40px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.spotify-btn,
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* about section style  */
#about {
    background-color: #1A0B2E;
    padding: 50px 0;
}

.about-info {
    text-align: center;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.about-text h2 {
    font-weight: 700;
    font-size: 3rem;
    color: wheat;
}

.about-text p {
    color: white;
    padding: 15px;
    line-height: 30px;
}

.about-card-container {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #230e3d;
    padding: 60px 0;
}

.about-card h3 {
    font-weight: 600;
    font-size: 3rem;
    color: #00ff88;
}

.about-card h4 {
    font-weight: 400;
    line-height: 20px;
    color: white;
}

/* why choose section  */
#why-choose {
    background-color: #230E3D;
}

.why-choose-content {
    padding: 120px 0;
}

.why-choose-content h2 {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.why-choose-grid {
    display: grid;
    grid-template-areas:
        "aq  mf  mf"
        "aq  gc  gc"
        "ei  ei  rr";
    gap: 30px;
    padding: 40px 0;
}

.why-choose-grid section {
    background-color: #351165;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.grid-icon {
    width: 60px;
}

.why-choose-grid h3 {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.why-choose-grid p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}

.audio-quality {
    grid-area: aq;
}

.mobile-friendly {
    grid-area: mf;
}

.global-community {
    grid-area: gc;
}

.exclusive-interviews {
    grid-area: ei;
}

.rich-resources {
    grid-area: rr;
}

/* episodes section style  */
#episodes {
    background-color: #1A0B2E;
    padding: 120px 0;
}

.episodes-content h2 {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.episodes-card-container {
    display: flex;
    gap: 30px;
}

iframe {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.episodes-card {
    background-color: #250D44;
    border-radius: 20px;
}

.episodes-card-video {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.episodes-card-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.episodes-card-info h3 {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.episodes-card-info p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}

.duration {
    font-weight: 500;
    line-height: 24px;
    color: #00ff88;
}

/* meet the host section style  */
#meet-host {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.meet-host-content h2 {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.host-info {
    display: grid;
    grid-template-columns: 200px auto;
    column-gap: 25px;
    align-items: center;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.host-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.host-data h3 {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.host-data p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}

.social-icon-container {
    display: flex;
    gap: 10px;
}

.social-icon {
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
}

.social-icon img {
    padding: 10px;
}

/* footer section style  */
#footer {
    background-image: url(./images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.footer-logo {
    width: 35%;
    margin: 0 auto;
}

.company-logo {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.logo-with-name {
    display: flex;
    gap: 5px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-text p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}